.home {
    height: 2482px;
    background-image: url('../img/background.svg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.main {
    top: 50px;
}

.main__projects {
    position: absolute;
    width: 99.4%;
    height: 100%;
    top: 80px;
}

.main__projects_title {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 174px;
    height: 77px;
    justify-content: flex-start;
    align-items: flex-start;
}

.main__question {
    color: var(--white);
    font-family: "FiraCodeRegular";
    font-size: 16px;
}

.main__projects_text {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: flex-start;
    align-items: flex-start;
}

.main__projects_container {
    display: flex;
    flex-direction: column;
    top: 160px;
    gap: 55px;
}

.main__projects_container-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.main__projects_small-container {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 1244px;
    gap: 55px;
}

.footer {
    top: 2300px;
}